<!-- <mat-toolbar color="primary">Novo Curso</mat-toolbar> -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Novo Curso</mat-card-title>
    <!-- <mat-card-subtitle>Criando novo curso</mat-card-subtitle> -->
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="name" #name />
        <mat-hint align="end">{{ name.value.length || 0 }} / {{ getMaxLength('name') }}</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{ formUtils.getErrorMessageFromFormGroupField(form, 'name') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Categoria</mat-label>
        <!-- <input matInput placeholder="Categoria" formControlName="category"> -->
        <mat-select formControlName="category" required>
          <mat-option value=""></mat-option>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
          <mat-option value="Database">Database</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category')?.invalid">{{ formUtils.getErrorMessageFromFormGroupField(form, 'category') }}</mat-error>
      </mat-form-field>

      <mat-toolbar>
        <span>Aulas</span>
        <button mat-icon-button color="accent" (click)="onAddNewLessonClick()">
          <mat-icon aria-label="Adicionar uma nova aula">add</mat-icon>
        </button>
      </mat-toolbar>

      <mat-error *ngIf="formUtils.isFormArrayRequired(form, 'lessons')" class="form-array-error">
        Adicione pelo menos uma aula
      </mat-error>

      <table
        style="width: 100%;"
        formArrayName="lessons"
        *ngFor="let lesson of getLessonsFormArray(); let i = index">
        <tr [formGroupName]="i">
          <td style="width: 65px;">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Título</mat-label>
              <input matInput formControlName="title" #title />
              <mat-error *ngIf="getLessonsFormArray()[i].get('title')?.invalid">{{ formUtils.getErrorMessageFromFormArrayField(form, 'lessons', i, 'title') }}</mat-error>
            </mat-form-field>
          </td>
          <td style="width: 30%;">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Código do vídeo</mat-label>
              <span matPrefix>https://youtu.be/</span>
              <input matInput formControlName="videoCode" #videoCode />
              <mat-error *ngIf="getLessonsFormArray()[i].get('videoCode')?.invalid">{{ formUtils.getErrorMessageFromFormArrayField(form, 'lessons', i, 'videoCode') }}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button color="warning" (click)="onDeleteLessonClick(i)">
              <mat-icon aria-label="Remover aula">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
